<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus Mode</title>
    <link id="theme-style" rel="stylesheet" href="../css/timer.css">
</head>
<body>

    <div class="container">
        <%- include('partials/header') %>
        <h1>Focus Mode</h1>
    
        <!-- Settings for Custom Focus & Break Time -->
        <div class="focus-settings">
            <label>Focus Time (minutes): 
                <input type="number" id="focus-time" value="25" min="1" onKeyDown="return false">
            </label>
            <br>
            <br>
            <label>Break Time (minutes): 
                <input type="number" id="break-time" value="5" min="1" onKeyDown="return false">
            </label>
            <br>
            <button id="save-settings">Save</button>
        </div>

        <!-- Focus Timer -->
        <div class="timer-container">
            <h2 id="timer-display">25:00</h2>
            <button id="start-btn">Start</button>
            <button id="pause-btn" class="hidden">Pause</button>
            <button id="reset-btn" class="hidden">Reset</button>
        </div>
        <!-- Popup Message -->
        <div id="settings-popup">
            <span id="popup-message"></span>
        </div>
        
        <!-- Break Timer & Message -->
        <div id="break-message" class="hidden">
            <h2>Time for a break!</h2>
            <h2 id="break-timer-display">5:00</h2>
            <button id="skip-break-btn">Skip Break</button>
        </div>
    </div>

    <script src="../js/theme.js"></script>
    <script src="../js/focus.js"></script>
</body>
</html>
