<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus Mode</title>
    <link id="theme-style" rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
        <h1>Focus Mode</h1>
        <a href="/" class="back-to-tasks-btn">Back to Tasks</a>
        <button id="theme-toggle">Toggle Theme</button>

        <div class="timer-container">
            <h2 id="timer-display">25:00</h2>
            <button id="start-btn">Start</button>
            <button id="pause-btn">Pause</button>
            <button id="reset-btn">Reset</button>
        </div>

    <div id="break-message" class="hidden">
    <h2>Time for a break! Relax for 5 minutes.</h2>
    <div id="break-timer-display">5:00</div>
    <button id="skip-break-btn">Skip Break</button>
    </div>
    </div>
    <script src="../js/theme.js"></script>
    <script src="../js/focus.js"></script>
</body>
</html>
